/bin/
/.project
/.classpath
/.settings/
/wz/
/dist/
/launch.bat
/config.ini
/logs/
/sharklogs/
/Secondary Passwords
/PacketLog.txt
/Log_Script_Except.txt
/Log_Command_Except.txt
Log_Command_Except.txt